button,
div,
form,
input {
    margin: 10px;
    }

body {
    background-color: mintcream;
}

.gif-div {
    font-size: 12px;
}

img {
    border-radius: 3px;
}

.gif-button {
    text-transform: uppercase;
}

